$blue: #0252ca;
$gray_bg: #eaeaea;
$breakpoint-tablet: 768px;

.title {
    color: $blue;
}
.products {
    display: flex;
    border-top: 1px solid $gray_bg;
    > div {
        flex: 0 0 20%;
        overflow: auto;
    }
    &__filter {
        display: flex;
        flex-direction: column;
    }
    &__selection {
        position: relative;
        margin: 8px 0;
        > label {
            display: block;
            padding-left: 20px;
        }
        > input {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__row-header {
        border-right: 1px solid $gray_bg;
    }
}
.product {
    &__header {
        height: 25rem;
        padding: 1rem;
        overflow-y: auto;
        h2 {
            font-size: 1rem;
            margin-top: 0;
        }
    }
    &__badges {
        display: flex;
        flex-direction: row;
        > .placeholder {
            margin-right: 8px;
        }
    }
    &__attributes {
        > div {
            padding: 0 1rem;
            border-bottom: 1px solid $gray_bg;
            height: 2rem;
            line-height: 2rem;
            &:first-child {
                height: 4rem;
                line-height: 4rem;
            }
        }
        &-key {
            display: none;
            text-transform: capitalize;
            .products__row-header & {
                display: flex;
                flex-direction: column;
            }
        }
        .compare {
            background-color: $gray_bg;
        }
    }
    &__uom {
        text-transform: lowercase;
    }
    &__price {
        h3 {
            margin-bottom: 0;
            font-size: 1.5rem;
        }
        padding-bottom: 1rem;
        border-bottom: 1px solid $gray_bg;
    }
}
.placeholder {
    text-align: center;
}

@media (max-width: $breakpoint-tablet) {
    .products {
        flex-direction: column;
    }
    .product__header {
        height: auto;
    }
    .product__attributes-container {
        display: flex;
        > div {
            flex: 1;
        }
    }
    .product__attributes-key {
        display: flex;
        flex-direction: column;
    }
    .products__row-header .product__attributes-key {
        display: none;
    }
    .product {
        border-bottom: 1px solid $gray_bg;
    }
}
